@tailwind base;
@tailwind components;
@tailwind utilities;
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@layer base {
  :root {
    --color-action: #d52727;
    --color-black: #000;
    --color-text: #fff;
    --color-background1: #696767;
    --color-background2: #1d2321;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "Space Grotesk";
  src: url("../public/fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Jura";
  src: url("../public/fonts/Jura/Jura-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Libre Franklin";
  src: url("../public/fonts/Libre_Franklin/LibreFranklin-VariableFont_wght.ttf");
}

@font-face {
  font-family: "BaiJamjuree";
  src: url("../public/fonts/Bai_Jamjuree/BaiJamjuree-Medium.ttf");
}
